  .explore-products {
    padding: 0 5rem;
    color: #07484A;
    text-align: center;
  }
  
  .explore-category .box-container {
      display: flex;
      justify-content: space-between;
      padding: 1rem 0;
  }

  .explore-category .box-container .left-box .li-style {
      height: 85%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      padding: 25px 50px;
  }
  
  .left-box input {
      border: none;
      background-color: #f0f0f0;
      font-size: 2rem;
      padding: 1rem 0.5rem;
      border-radius: 10px;
      font-family: sans-serif;
  }
  
  .explore-category .box-container .left-box input::placeholder {
      padding: 0px 20px;
  }
  
  li {
      list-style: none;
      line-height: 40px;
  }
  
  li a {
      text-decoration: none;
      font-family: sans-serif;
      color : #07484a;
  }
  
  li a:hover {
      text-decoration: underline;
  }
  
  .explore-category .box-container .right-box .grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 25px;
  }
  
  .explore-category .box-container .right-box .grid-container .items {
      border-radius: 5px;
      width: 300px;
      height: 200px;
      text-align: center;
      transition: all 1s;
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: center;
  }
  
  .explore-category .box-container .right-box .grid-container .items img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
  }
  
  .explore-category .box-container .right-box .grid-container .items .bedroom {
      position: absolute;
      top: 30%;
      left: 24%;
      font-size: 1.5rem;
      color: white;
      transition: all 1s;
  }
  
  .explore-category .box-container .right-box .grid-container .items .explore {
      background-color: #E0EFF6;
      color: #07484A;
      font-family: sans-serif;
      padding: 0.5rem;
      border-radius: 5px;
      margin: 1rem auto;
      cursor: pointer;
      position: absolute;
  }
  
  .explore-category .box-container .right-box .grid-container .items:hover {
      box-shadow: 0px 0px 20px gray;
      transform: scale(1.1, 1.1);
  }

#showphone {
  display: none;
}

/* INPUT CHECK BOX */

#showhide {
    display: none;
}

.checkbtnshowhide {
    display: none;
}


